#label{
    display: block;
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
#btn{
   text-align: center;    
}
.buttons{
    padding: 10px,20px;
    font-size:50px ;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(204, 163, 238);
}